.overview-container {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.overview-author-details {
    display: flex;
    margin: 10px;
    margin-bottom: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

hr {
    margin: 0;
}

span {
    font-size: 18px;
    font-weight: 800;
}